---
layout: page
title: Kamalaker Dadi - Contact
description: >
  Details about contacting Sean Chester and how to reach the main NTNU campus 
  (Gloeshaugen) from the nearest airport in Vaernes.
heading: Contact
nav-title: Contact
permalink: /contact/
order: 4
---


    <div class="contact-col-wrapper">
      <div class="contact-col contact-col-1">
        <ul class="contact-list">
          <li>Dr. Kamalaker Dadi</li>
	  <li>iHub-Data, IIITH, Gachibowli</li>
	  <li>Hyderabad, 500032</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="contact-col contact-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="contact-col contact-col-3">
        <p>
	
        </p>
      </div>
    </div>
