---
layout: default
title: Home
order: 1
---

<div class="home">

	<div id="name-box" >
		<h1 style="padding-bottom:0em; margin-bottom:0em; ">Kamalaker Dadi</h1>
		<h3 style="padding:0em; margin:0em; font-style:italic; ">Research Scientist</h2 >
    <h3 style="padding:0em; margin:0em; ">IIIT, Hyderabad</h2 >
    <div>
      <ul class="contact-list" style="margin:0; padding:0;">
        <li class="inline-social">
          {% include icon-email.html email=site.email %}
        </li>
        {% if site.github_username %}
        <li class="inline-social" style="margin-left:2em; margin-right:2em; ">
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}
        {% if site.scholar_username %}
        <li class="inline-social">
          {% include icon-google-scholar.html username=site.scholar_username %}
        </li>
        {% endif %}
      </ul>
    </div>
	</div>
	 
  <div id="info-box" >
  
  	<img id="me" src="/assets/images/mypic.png" />
  	<div id="research-focus" >
  	<h4>Research interests</h4>
  	<span style="font-style:italic; ">
  		<ul>
  			<li> Population imaging </li> 
	  			<li> Machine learning </li> 
  				<li> Mental Health </li>
  			</ul>
  	</span>
  	</div>
  </div>

</div>
